{% extends "layout.html" %}
{% block body %}
    {% if g.user %}
        <p>
          Hello {{ g.user.screen_name }}!
        </p>
        <form action="{{ url_for('delete') }}"  method=post>
        {% for tweet in tweets %}
            <input type="checkbox" name="tweet_id" value="{{ tweet.id }}">{{ tweet.text|urlize }}<br/>
        {% endfor %}
            <input type=submit value="Delete">
        </form>
    {% else %}
        <p>
          Sign in to view your tweets and search for tweets to delete.
        </p>
        <p>
          <a href="{{ url_for('login') }}"><img src="{{
            url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
        </p>
    {% endif %}
{% endblock %}